<div class="row" ng-controller="modelPageCtrl">
    <div class="col-md-8">
        <section class="widget widget-tabs">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#overview" ng-click="setActivePage('analysis')" data-toggle="tab">Model Analysis</a>
                    </li>
                    <li class="">
                        <a href="#routes" data-toggle="tab" ng-click="setActivePage('run')">New Model</a>
                    </li>
                   
                </ul>
            </header>
            <div class="body tab-content" style="overflow:hidden;">
                <div id="overview" class="tab-pane clearfix active">
                   <%- partial('model-tabs/analysis') %>
                </div>
                <div id="routes" class="tab-pane ">
                   <%- partial('model-tabs/new-model') %>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget" ng-show="active_page == 'run'">
            <header>
                <h5>
                    <i class="fa fa-tasks"></i>
                    New Model Options
                </h5>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <form class="form-horizontal form-condensed ng-pristine ng-valid" action="" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">Model Time</label>

                            <div class="controls form-group">
                                <select id="time-select" ng-model="current_model_run.time" data-placeholder="Choose a model timeframe..." class=" form-control" tabindex="-1">
                                    <option  value=""></option>
                                    <option ng-repeat="(id,name) in modelTimes" value="{{id}}" ng-selected="time_selector(id)">{{name}}</option>
                                    
                                </select>
                            
                                <span class="help-block pull-left">AM Peak, PM Peak or Full Day.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">Model Type</label>

                            <div class="controls form-group">
                                <select id="type-select" ng-model="current_model_run.type" data-placeholder="Choose a Model Type..." class=" form-control" tabindex="-1">
                                    <option ng-repeat="(id,name) in modelTypes" value="{{id}}" ng-selected="type_selector(id)">{{name}}</option>
                                </select>
                                
                                <span class="help-block pull-left">Choose trip table generation algorithm</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">Model OD Source</label>

                            <div class="controls form-group">
                                <select id="od-select" ng-model="current_model_run.od" data-placeholder="Choose a Model Type..." class=" form-control" tabindex="-1">
                                    <option  value=""></option>
                                    <option ng-repeat="(id,name) in modelODSources" value="{{id}}" ng-selected="od_selector(id)">{{name}}</option>
                                </select>
                                
                                <span class="help-block pull-left">Choose Origin - Destination points source.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">Model Forecast</label>
                            <div class="controls form-group">
                                <select id="forecast-select" ng-model="current_model_run.forecast" data-placeholder="Choose a Model Forecast..." class=" form-control" tabindex="-1" >
                                    <option  value=""></option>
                                    <option ng-repeat="(id,name) in modelForecast" value="{{id}}" ng-selected="forecast_selector(id)">{{name}}</option>
                                </select>
                                <span class="help-block pull-left">Choose forecasting mode.</span>
                                {{current_model_run.fore}}
                            </div>
                        </div>
                        <div class="control-group" ng-show="forecast()">
                            <label class="control-label">Forecast Type</label>
                            <div class="controls form-group">
                                <label class="radio">
                                    <input type="radio" id="radio-4" class="iCheck" ng-model='current_model_run.forecast_type' value="mpo">
                                    2020 MPO Forcast</label>
                                <label class="radio">Custom Forecast
                                    <input type="radio" name="can" class="iCheck" id="radio-5" ng-model='current_model_run.forecast_type' value="growth">
                                    <div>
                                    <label>
                                    Population Growth % 
                                    <input type="number" class="form-control" value="2.0" min="-20" max="20" step=".1" ng-model="current_model_run.forecast_pop_growth" ng-disabled="current_model_run.forecast_type != 'growth'" >
                                    </label> 
                                    <label>Employment Growth % 
                                    <input type="number" class="form-control" value="2.0" min="-20" max="20" step=".1" ng-model="current_model_run.forecast_emp_growth" ng-disabled="current_model_run.forecast_type != 'growth'" >
                                   </label>

                                   <strong>Selected Tract Forecast: {{selectedTract.properties.geoid}}</strong>
                                   <div  ng-show="selectedTract.properties.geoid" >
                                       <label>    
                                       Population Growth %
                                        <input type="number" class="form-control" value="2.0" min="-20" max="20" step=".1" ng-model="selectedTract.properties.pop2020_growth">
                                        </label> 
                                        <label>Employment Growth %
                                        <input type="number" class="form-control" value="2.0" min="-20" max="20" step=".1" ng-model="selectedTract.properties.emp2020_growth" ng-show="selectedTract.properties.geoid" >
                                       </label>
                                    </div>
                                   
                             </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>

        <section class="widget" ng-show="active_page == 'run'">
            <header>
                <h5>
                    <i class="fa fa-tasks"></i>
                    Model Data Sources
                </h5>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <form class="form-horizontal form-condensed ng-pristine ng-valid" action="" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">GTFS</label>

                            <div class="controls form-group">
                                <select id="gtfs-select" ng-model="current_model_run.datasources.gtfs_source" data-placeholder="Choose a model timeframe..." class=" form-control" tabindex="-1">
                                    <option ng-repeat="gtfs in datasources.gtfs" value="{{gtfs.tableName}}" ng-selected="time_selector(id)">{{gtfs.agency+" "+gtfs.startDate}}</option>
                                    
                                </select>
                            
                                <span class="help-block pull-left">Choose GTFS feed for this market model run.</span>
                            </div> 
                        </div>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">ACS</label>

                            <div class="controls form-group">
                                <select id="acs-select" ng-model="current_model_run.datasources.acs_source" data-placeholder="Choose a Model Type..." class=" form-control" tabindex="-1">
                                    
                                    <option ng-repeat="acs in datasources.acs" value="{{acs.tableName}}" ng-selected="time_selector(id)">{{acs.year+" "+acs.dataSource+" Year Summary"}}</option>
                                </select>
                                
                                <span class="help-block pull-left">Choose the American Community Survey source for this model run.</span>
                            </div>
                        </div>
                        <div class="control-group" ng-show="current_model.type=='lehd'">
                            <label for="gtfs-select" class="control-label">LODES</label>

                            <div class="controls form-group">
                                <select id="lodes-select" ng-model="current_model_run.datasources.lodes_source" data-placeholder="Choose a Model Type..." class=" form-control" tabindex="-1">
                                    <option  value=""></option>
                                    <option ng-repeat="lodes in datasources.lodes" value="{{lodes.tableName}}" ng-selected="time_selector(id)">{{lodes.dataSource}}</option>
                                </select>
                                
                                <span class="help-block pull-left">Choose the LEHD Origin Destination feed for this model run.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="gtfs-select" class="control-label">CTPP</label>
                            <div class="controls form-group">
                                <select id="ctpp-select" ng-model="current_model_run.datasources.ctpp_source" class=" form-control" tabindex="-1" >
                                    
                                    <option ng-repeat="ctpp in datasources.ctpp" value="{{ctpp.tableName}}">{{ctpp.tableName}}</option>
                                </select>
                                <span class="help-block pull-left">Choose the CTPP data setmodel run.</span>
                                {{current_model_run.fore}}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>

<!-- Model Analysis pane -->
        <section class="widget" ng-show="active_page == 'analysis'">
            <header>
                <h5>
                    <i class="fa fa-tasks"></i>
                    Model Analysis Overview
                </h5>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>


            <div class="body">

                <ul id="MA-Tab" class="nav nav-tabs">
                    <li ng-repeat="model in loadedModels" ng-class="$index == 0 ? 'active' : ''"><a href="{{makeHREF(model)}}" data-toggle="tab" ng-style="{'background-color':colors[$index]}" ><span class="label">{{model.name.slice(0,5)}}</span></a></li>
                </ul>
                <div id="MA-Tab-Content" class="tab-content">
                    <div ng-repeat="model in MA_Tab_data" ng-class="$index == 0 ? 'active in' : ''" class="tab-pane fade" id="{{makeID(model)}}">
                         <div class="thumbnail" style="overflow:hidden;">
                            <table class="table table-striped table-hover">
                                <tr ng-repeat="obj in model.data" >
                                    <td>{{obj.key}}</td> <td>{{obj.value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </section>


        <%- partial('../guide/models-guide') %>

    </div>
</div>