<div class="row">
    <div class="col-md-8">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-window"></i>
                    New Market Area Wizard
                    <small>Tunable widget</small>
                </h4>
            </header>
            <div class="body">
                <div id="wizard" class="form-wizard">
                    <ul class="wizard-navigation nav-justified">
                        <li><a href="#tab1" data-toggle="tab"><small>1.</small><strong>Setup</strong></a></li>
                        <li><a href="#tab2" data-toggle="tab"><small>2.</small> <strong>Routes</strong></a></li>
                        <li><a href="#tab3" data-toggle="tab"><small>3.</small> <strong>Zones</strong></a></li>
                        <li><a href="#tab3" data-toggle="tab"><small>4.</small> <strong>Settings</strong></a></li>
                        <li><a href="#tab4" data-toggle="tab"><small>5.</small> <strong>Finish</strong></a></li>
                    </ul>
                    <div id="bar" class="progress progress-small">
                        <div class="progress-bar progress-bar-inverse"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab1">
                            <form class="form-horizontal form-condensed" action='' method="POST">
                                <fieldset>
                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="username">Market Area Name</label>
                                        <div class="controls form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="username" name="username" placeholder="" class="form-control">
                                                <span class="help-block">The display name for the market area.</span>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                    <label for="gtfs-select" class="control-label">Base GTFS</label>

                                    <div class="controls form-group">
                                        <div class="col-md-10"><select id="gtfs-select" data-placeholder="Choose a GTFS feed..." class="select-block-level chzn-select">
                                            <option value=""></option>
                                            <% 
						                        gtfs.forEach(function(gtfs){
						                    %>
						                    	<option value="<%= gtfs.id %>"><%= gtfs.agency+" "+gtfs.startDate %></option>
						                    <% }); %>
                                        </select>
                                        <span class="help-block pull-left">Choose the base GTFS feed for this market area.</span></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <form class="form-horizontal form-condensed" action='' method="POST">
                                <fieldset>
                                   
                                    
                                    <div class="form-row control-group">
                                        <label for="routes-select" class="control-label">Add Routes</label>
                                        <div class="controls form-group">
                                            <div class="col-md-10">
                                            <select id="routes-select" data-placeholder="Choose an option.." class="select-block-level chzn-select">
                                                <option value=""></option>
                                            </select>
                                            <span class="help-block pull-left">Select a Route and Click + to add to the Market Area</span>
                                            </div>
                                            <div class="input-group-btn">
                                                
                                                <button type="button" class="btn btn-success" id="add-route-btn"><i class="fa fa-plus"></i></button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover" id='selected-routes-table'>
	                                    <thead>
	                                    	<tr>
	                                    		<th>Route ID</th>
	                                    		<th>Route Name</th>
	                                    		<th></th>
	                                    	</tr>
	                                    </thead>
	                                    <tbody>
	                                    	
	                                    </tbody>
	                                </table>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <form class="form-horizontal" action='' method="POST">
                                <fieldset>
                                    
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <h2>Thank you!</h2>
                            <p>Your submission has been received.</p>
                        </div>
                        <div class="description">
                            <ul class="pager wizard">
                                <li class="previous">
                                    <button class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
                                </li>
                                <li class="next">
                                    <button class="btn btn-primary pull-right" >Next <i class="fa fa-caret-right"></i></button>
                                </li>
                                <li class="finish" style="display: none">
                                    <button class="btn btn-success pull-right" >Finish <i class="fa fa-check"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <%- partial('../guide/marketarea-new') %>  
    </div>
</div>