<div class="row" ng-controller="OverviewController">
    <div class="col-md-8">
        <section class="widget widget-tabs">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#overview" data-toggle="tab">Overview</a>
                    </li>
                    <li>
                        <a href="#routes" data-toggle="tab" ng-click="current_overview_tab = 'EDIT'">Edit</a>
                    </li>
                </ul>
            </header>
            <div class="body tab-content" style="overflow:hidden;" >
                <div id="overview" class="tab-pane active clearfix" >
                   <%- partial('show-tabs/overview') %>
                </div>
                <div id="routes" class="tab-pane">
                   <%- partial('show-tabs/edit') %>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <%- partial('../guide/market-area-guide') %>
        <%- partial('show-tabs/data-pane') %>
    </div>
</div>