<section class="widget">
    <header>
        <h5>
            <i class="fa fa-tasks"></i>
            User's Guide
        </h5>
        <div class="widget-controls">
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
            <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="body">
        <div class="panel-group" id="accordion2">
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Add Market Area
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">
                        You can add new market areas by following the step by step process of the Add Market Area Wizard.
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Setup
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        The first step is to give your market area a name and choose a base GTFS code. Then click next.
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Routes &amp; Zones
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                    <p>
                        Here you’ll need some knowledge of your market area’s bus routes. You’ll need to type in the route numbers then click on the green plus symbol to add it to your market area.</p>

                        <p>Each Route you add to the Market Area will be included as a red line in the map below. Each route you add will include its corresponding census tracts as seen in Figure 16 as black lines. After viewing the map of census tracts and bus routes click Next to go to step 3.</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        Create
                    </a>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        Here you’ll view the number of routes and census tracts in your new Market Area. When you click Finish you will be brought to the Market Area > Overview page for your new Market Area.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>