<section class="widget">
    <header>
        <h5>
            <i class="fa fa-tasks"></i>
            User's Guide
        </h5>
        <div class="widget-controls">
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
            <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="body">
        <div class="panel-group" id="accordion2">
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Market Area Overview
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">
                        <p>The Overview Section gives a graphic overview of a Market Area’s demographics.</p>

                        <p>The American Community Survey is the primary demographic data source for Transit Demand Modelling, regression models were built with 2010 ACS 5 Year Data but can be modelled with a number of different ACS Data sources.</p>

                        <p>Across the top of the Overview Section, you will find a left to right tab function. The two tabs in the overview section are titled “Overview” and “Edit.” The tab titled “Overview” is the default landing page for this section.</p>

                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Edit Pane
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>The Edit Tab section allows you to add (Green + Button) or remove (Red – Button) a bus route.</p>
                        
                        <p>The Edit Tab also allows you to search all of the bus routes in the default GTFS file in a smart dropdown menu. You can either search all bus routes or narrow your search by typing one of the numbers in the bus route you would like to use.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>