<section class="widget">
    <header>
        <h5>
            <i class="fa fa-tasks"></i>
            User's Guide
        </h5>
        <div class="widget-controls">
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
            <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="body">
        <div class="panel-group" id="accordion2">
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        New Model
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">
                        Adjust the trip table parameters above to the desired settings and click <b>Generate Trip Table</b>.You can view the trip table on the map, and filter by specific tracts simply by clicking. <br><br>When you are satisfied with your trip table, click Run model and provide a name for your model run. This will submit a model run to the server and you can track its progress on the <a href="/jobs">Jobs page </a>.
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Model Analysis
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        Select a model run from the dropdown at the top of the page. Click <b>Load Model</b> &amp; the model will be added to the analysis view. You can add multiple modesl for comparison and include farebox data for verificaion by repeating the step above.
                    </div>
                </div>
            </div>
            <!-- <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Running a new Model
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        ... 
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
</section>