<header class="page-header" ng-controller="headerController">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="visible-phone-landscape">
                <a href="#" id="search-toggle">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" title="{{num_active}} Jobs" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-gears"></i>
                    <span class="count">{{num_active}}</span>
                </a>
                <ul id="support-menu" class="dropdown-menu support" role="menu">
                    <li role="presentation" ng-repeat='job in current_jobs'>
                        <a href="#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-info"><i class="fa fa-spinner"></i></span>
                            </div>
                            <div class="details">
                                <div ng-show="job.type == 'Model Run'">{{job.info[0].name}}</div> {{job.status}}
                                
                                <div class="progress" ng-show="job.progress > 0" style='margin-bottom:0px'>
                                  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{job.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.progress}}%">
                                    {{job.progress}}%
                                  </div>
                                </div>
                            </div>
                        </a>
                    </li>        
                    <li role="presentation">
                        <a href="/jobs" class="text-align-center see-all">
                            See all Jobs <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="hidden-xs">
                <a href="#" id="settings" title="" data-toggle="popover" data-placement="bottom" data-original-title="Settings">
                    <i class="fa fa-cog"></i>
                </a>
            </li>
            <li class="hidden-xs"><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
        <form id="search-form" class="navbar-form pull-right" role="search">
            <input type="search" class="search-query" placeholder="Search...">
        </form>
        <div class="notifications pull-right">
            
        </div>
    </div>
</header>