<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="body">
        <fieldset>
            <legend>Running a Model<small> Some explanation text</small></legend>
        </fieldset>
        Running a model is done through the map explorer view. Fiirs
        <fieldset>
            <legend class="section">First Heading</legend>
            <div class="form-actions no-margin">
                Market Area templates save all 
            </div>
        <fieldset>
        <fieldset>
            <legend class="section">Second Heading</legend>
            <div class="form-actions no-margin">
                Lorem ipsum asdas dasd asd
                <br>
                <strong>Minor Point</strong> - asasd asdasd
                <legend class="section">Step 2 A - Click Update </legend>
            </div>
        <fieldset>
      </div>
    </section>
  </div>
</div>