<section class="widget" id="overview-data-pane">
    <div ng-show="setActiveOverviewTab('ACS')" >
        <header>
            <h5>
                <i class="fa fa-tasks"></i>
                Data - {{active_category}}
            </h5>
            <div class="widget-controls">
                <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class='body data-pane'>
        <h4 class="pull-right"><a class="btn btn-info" id="downloadCSV" ng-click="downloadData('overview-table')"><i class="fa fa-download"></i>Download CSV</a></h4>
            <table class="table table-striped table-hover" id="overview-table">
                <tr ng-repeat="var in current_vars" style="cursor:pointer;" ng-class="isActiveVar(var)">
                    <td style="background-color:{{colors[$index]}}"></td>
                    <td ng-click="colorMap(var)">{{census_vars[var].name}}</td>
                    <td>{{census_vars[var].percent}}%</td>
                    <td>{{census_vars[var].value | number}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td> Total</td>
                    <td>{{current_percent_total.toFixed(0) | number}}%</td>
                    <td>{{current_total | number}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="setActiveOverviewTab('CTPP')" id="ctpp-data-pane-div" >
        <header>
            <h5>
                <i class="fa fa-tasks"></i>
                Data - CTPP
            </h5>
            <div class="widget-controls">
                <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class='body data-pane'>
            <h4></h4>
            <table class="table table-striped table-hover" id="ctpp-table">
                <thead>
                    <th>Census Tract</th>
                    <th># of Bus Trips to Work</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="setActiveOverviewTab('LODES')" id="lodes-data-pane-div" class='data-pane'>
        <header>
            <h5>
                <i class="fa fa-tasks"></i>
                Data - LODES
            </h5>
            <div class="widget-controls">
                <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class='body data-pane'>
            <h4></h4>
            <table class="table table-striped table-hover" id="lodes-table">
                <thead>
                    <th>Census Tract</th>
                    <th># of Work Trips</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="setActiveOverviewTab('EDIT')" id="edit-data-pane-div" class='data-pane'>
        <header>
            <h5>
                <i class="fa fa-tasks"></i>
                Data - EDIT
            </h5>
            <div class="widget-controls">
                <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class='body data-pane'>
            <h4></h4>
            <div class="form-row control-group">
                <label for="routes-select" class="control-label">Add Routes</label>
                <div class="controls form-group">
                    <div class="col-md-10">
                    <select id="routes-select" data-placeholder="Add Route to Market Area"
                        required="required" class="select-block-level chzn-select" name="routeSelect">
                        <option value=""></option>
                        <% meta.fullroutes.forEach(function(route){%>
                          <option value="<%=route.route_id%>"><%=route.route_short_name%></option>
                        <%})%>
                    </select>
                    <span class="help-block pull-left">Select a Route and Click + to add to the Market Area</span>
                    </div>
                    <div class="input-group-btn">
                        
                        <button type="button" class="btn btn-success" id="add-route-btn"><i class="fa fa-plus"></i></button>
                        
                    </div>
                </div>
            </div>
            
            <table class="table table-striped table-hover" id='selected-routes-table'>
                <thead>
                    <tr>
                        <th>Route Name</th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="route in marketarea.routes">
                    <td>{{route}}</td>
                    
                    <td class="text-right"><button type="button" class="btn btn-sm btn-danger" id="remove-route-btn" ng-click="removeRoute(route)"><i class="fa fa-minus"></i></button></td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</section>