<header>
    <h4>
        <i class="fa fa-align-left"></i>
        Routes &amp; Zones;
    </h4>
</header>
<div class="body">
    <div id="edit_map"></div>
    <form class="form-horizontal" method="post">
        <form class="form-horizontal form-condensed" action='' method="POST">
            <fieldset>
              
                
            </fieldset>
        
        <div class="form-actions">
            <div>
                <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Save Changes</button>
            </div>
        </div>
    </form>
</div>

