<header>
    <h4>
        <i class="fa fa-align-left"></i>
        Overview
    </h4>
</header>
<div class="row">
	<div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                <%= marketarea.zones.length %>
            </h3>
            <div class="description">
                Census Tracts
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                {{census_vars['total_population'].value | number}}
            </h3>
            <div class="description">
                Population
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                {{census_vars['occupied_housing'].value | number}}
            </h3>
            <div class="description">
                Households
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                {{census_vars['employment'].value+census_vars['unemployment'].value | number}}
            </h3>
            <div class="description">
                Labor Force<br>
                <small>Unemployment {{((census_vars['unemployment'].value/(census_vars['employment'].value+census_vars['unemployment'].value)) *100).toFixed(2)+"%"}}</small>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
               <%= marketarea.routes.length %>
            </h3>
            <div class="description">
                # Bus Routes<small> defined in marketarea</small>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                {{census_vars['bus_to_work'].value | number}}
            </h3>
            <div class="description" style="margin-top:0px">
            	%{{census_vars['bus_to_work'].value/census_vars['travel_to_work_total'].value *100 | number}}<br>
                Bus To Work
            </div>
        </div>
    </div>

    <!-- <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="box">
            <h3>
                {{census_vars['car_0'].value | number}}
            </h3>
            <div class="description" style="margin-top:0px">
            	%{{census_vars['car_0'].value/census_vars['total_housing'].value | number}}<br>
                0 Vehicle Households
            </div>
        </div>
    </div> -->
    
</div>
<header>
    <h4>
        <i class="fa fa-align-left"></i>
        Demographics
    </h4>
</header>
<div class="tabbable tabs">
    <ul class="nav nav-tabs dem-tabs" id="myDataTab">
        <li class='active' >
            <a  href="#acs" data-toggle="tab" ng-click="current_overview_tab = 'ACS'">ACS</a>
        </li>
        <li   >
            <a  href="#ctpp" data-toggle="tab" ng-click="current_overview_tab = 'CTPP'">CTPP</a>
        </li>
        <li  >
            <a  href="#lodes" data-toggle="tab" ng-click="current_overview_tab = 'LODES'">LODES</a>
        </li>
        <li class="pull-right">
        <select class="form-control" style='width:200px;' id="datasource_select" ng-model="source_id">
            <option ng-repeat="source in datasources[current_overview_tab]" value="{{source.id}}" selected>{{source.tableName}}</option>
        </select>
        </li>
    </ul>
    <div id="myDataTabContent" class="tab-content">
        <div  id="acs" class="tab-pane active clearfix body">
            <div class="tabbable tabs-left">
            	<ul class="nav nav-tabs cen-tabs" id="myTabLeft">
                	<li ng-class="{active:isActive(name, vars)}" ng-repeat="(name,vars) in census_categories">
                        <a ng-click="drawGraph(name, vars)" href="#{{vars[0]}}" data-toggle="tab">{{name}}</a>
                    </li>
                </ul>
        	    <div id="myTabContentLeft" class="tab-content">

            	    <div class="tabbable tabs">
                        <ul class="nav nav-tabs dem-tabs" id="displayTab">
                            <li class='active'>
                                <a href="#chart_pane" data-toggle="tab">Chart</a>
                            </li>
                             <li>
                                <a href="#map_pane" data-toggle="tab" ng-click="refreshMap()">Map</a>
                            </li>
                        </ul>
                        <div id="displayTabContent" class="tab-content">
                            <div id="chart_pane" class="tab-pane active clearfix" >
                                <div id="chart">
                                    <svg style="height:660px;width:580px;"></svg>
                                </div>
                            </div>
                            <div id="map_pane" class="tab-pane clearfix" >
                                <svg id="acs_legend"></svg>
                                <div id="acs_map">
                                 <div id="acs_buttons" style="width:75px;height:90px;position:relative;top:10px;left:10px;background-color:#fff;z-index:100">
                                    <svg id="overview-map-svg"></svg>
                                 </div>   
                                </div>

                            </div>
                        </div>
                    </div>
                	

                </div>
        	</div>
        </div>
        <div  id="ctpp" class="tab-pane clearfix body">
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             Number of work related bus trips between tracts. Click tract to select filter for only inbound/outbound to that tract.
            </div>
            
            <svg id="ctpp-svg" width="810px" height="910px"></svg>
        </div>
        <div  id="lodes" class="tab-pane clearfix body">
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             Number of work related trips between tracts. Click tract to select filter for only inbound/outbound to that tract.
            </div>
            <svg id="lodes-svg" width="810px" height="910px"></svg>
        </div>
    </div>
</div>
<script type="text/javascript" src="/lib/topojson.js"></script>
<script type="text/javascript" src="/lib/nvd3/nv.d3.min.js"></script>
<script type="text/javascript" src="/lib/table2csv.js"></script>
<script type="text/javascript" src="/avail/acs_data.js"></script>
<script type="text/javascript">
	acs_data.update_data(JSON.parse("<%= JSON.stringify(census) %>".replace(/\&quot\;/g, "\"")));
</script>

<script type="text/javascript" src="/avail/ma_edit_map.js"></script>

<script type="text/javascript" src="/avail/ma_acs_map.js"></script>
<style>
   
    #map {
        position: relative;
    }

    .ma-tract {
        fill: #080;
        fill-opacity: 0.5;
        stroke: #080;
        stroke-width: 1;
    }
    .ma-tract:hover {
        fill: #0f0;
        stroke: #0f0;
    }
    .ma-active {
        fill-opacity: 1.0;
    }
    .dem-tabs li.active a{
        background-color: #ccc!important;
    }
    
    #overview-popup {
        background: #fff;
        position: fixed;
        display: none;
        border: 5px solid #080;
        width: 250px;
        z-index: 20;
    }

</style>


<script type="text/javascript" src="/avail/ctpp_map.js"></script>
<script type="text/javascript" src="/avail/lodes_map.js"></script>
