<section class="widget">
    <header>
        <h5>
            <i class="fa fa-tasks"></i>
            User's Guide
        </h5>
        <div class="widget-controls">
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
            <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="body">
        <div class="panel-group" id="accordion2">
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Jobs
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">

                        Some tasks such as loading new data or running models require considerable time to complete and are spawned as seperate processes on the TDM server. <br><br>
                        This architecture allows the users freedom to start long processes and keep tabs on their progress.
                        <br><br>
                         This page lists currently active jobs, along with progress &amp; status indication as well as a list of finished jobs and their outcome. It also allows you to cancel currently active jobs.
                    </div>
                                        
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Jobs - Status
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">

                        <ul>
                            <li><strong>Initializing</strong> - Job is being set up for processing.</li>
                            <li><strong>Processing</strong> - Job is currently being run on the server.</li> 
                            <li><strong>Finishing</strong> - Job is finished and meta data is being saved about the job.</li>
                            <li><strong>Success</strong> - Job has been successfully finished and data is incorporated into TDM</li>
                            <li><strong>Failure</strong> - Job has finished unsuccessfully and will need to be run again.</li>
                            <li><strong>Cancelled</strong> - Job was cancelled by user.</li>
                            </ul>
                    </div>

                                        
                </div>
            </div>
            
            
        </div>
    </div>
</section>