<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Delete ACS Dataset</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete {{currentACS.dataSource+' '+currentACS.year+' '+currentACS.stateFips}}?</h4>     
            </div>
            
            <div class="modal-footer">
               <br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info" ng-click="removeACS(currentACS.id)">Delete</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>