<%- partial('../partials/nav') %>
    <div class="wrap">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title">ACS <small>American Community Survey</small></h2>
		        </div>
		    </div>
		    <%- partial('pages/acs-content') %>
		</div>
    

<script src="/js/select2.js"></script>
<script src="/js/acs.js"></script>