<%- partial('partials/nav') %>
<div class="wrap">
    <%- partial('partials/header') %>    
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Market Areas <small>Transit Modeling Markets</small></h2>
            </div>
        </div>
        <%- partial('pages/marketareas-content') %>
    </div>
    <div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<script src="/js/select2.js"></script>
<script src="/js/forms.js"></script>