<%- partial('../partials/nav') %>
    <div class="wrap">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title">Quick Start Guide <small> Run your first model in 5 easy steps</small></h2>
		        </div>
		    </div>
		    <%- partial('pages/quickstart-content') %>
		</div>

