<div class="info_container">
 Model Data
  <select ui-select2   ng-model="current_model_index" class='template_select'>
    <option  ng-repeat="model in finished_models" value="{{ model.id}}">{{ model.name }}</option>
  </select>
    <br><br>
    <a class="btn btn-info" ng-click="loadModelData(current_model_index)" ng-disabled="active_run">View Model Data</a>
  <br><br>
  <tabset>
    <tab heading="info">
      <table class="table table-hover">
        <thead>
          <tr>
          <td># Transfers</td>
          <td># Passengers</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transfer in transfer_counts">
          <td>{{ transfer.key }}</td><td>{{  transfer.value }}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
          </tr>
        </tfoot>
      </table>
      <div id="graphDiv"></div>
    </tab>
    <tab heading="Routes" active="modelTabs.active">
      <br>
      <a class="btn btn-info" ng-click="vizRoutes()" >Show Routes by Riders</a>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
          <td>Route</td>
          <td># Passengers</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="route in route_count">
          <td>{{ route.key }}</td><td>{{  route.value }}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total:</td>
            <td>{{ route_total }}</td>
          </tr></tfoot>
      </table>
    </tab>

    <tab heading="Tracts">
    </tab>
    <tab heading="Stops">
      <tabset>
        <tab heading="Boardings">
          <br>
          <a class="btn btn-info" ng-click="vizBoardings()">Show Boardings</a>
          <br>
          <table class="table table-hover">
            <thead>
              <tr>
              <td>Stop</td>
              <td># Passengers</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stop in on_stops">
              <td>{{ stop.key }}</td><td>{{  stop.value }}</td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total:</td>
                <td>{{ on_stops_total }}</td>
              </tr></tfoot>
          </table>
        </tab>
        <tab heading="Alightings">
          <table class="table table-hover">
            <br>
            <a class="btn btn-info" ng-click="vizAlightings()" >Show Alightings</a>
            <br>
            <thead>
              <tr>
              <td>Stop</td>
              <td># Passengers</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stop in off_stops">
              <td>{{ stop.key }}</td><td>{{  stop.value }}</td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total:</td>
                <td>{{ off_stops_total }}</td>
              </tr></tfoot>
          </table>
        </tab>
      </tabset>
    </tab>
  </tabset>
</div>