<tabset>
  <tab heading="Settings">
  <div class="info_container">
    <label class="info_label">Scenario Template</label>
      <select ui-select2   ng-model="current_template_index" class='template_select' ng-change="scenario_select(current_template_index)">
        <option  ng-repeat="scenario in allScenarios" value="{{ $index }}" ng-selected="{{ $index == current_template_index }}">{{ scenario.name }},{{ $index }},{{current_template_index}}</option>
      </select>
      <label class="info_label">Overview</label>
      <table class="table table-hover">
        <tr>
          <td>Trips Planned</td><td>{{ trip_table.length | number }}</td>
        </tr>
        <tr>
          <td>Number of Tracts </td><td>{{ tracts.length | number }}</td>
        </tr>
      </table>
      <label>Model Type</label>
      <select ui-select2   ng-model="model_type" class='template_select'>
       <option value="lehd" selected>LEHD 5%</option>
       <option value="lehdbus" selected>LEHD + ACS % Bus Trips</option>
       <option value="ctpp" selected>CTPP Bus Trips</option>
       <option value="survey">Atlantic City Survey</option>
      </select>
      <div ng-show="showOD(model_type)">
        <label>OD Source</label>
        <select ui-select2   ng-model="model_od" class='template_select' ng-change="update_od(model_od)">
         <option value="stops">Bus Stops</option>
         <option value="survey">Survey</option>
        </select>
        {{model_od}}
      </div>
       <label>Model Time</label>
      <select ui-select2   ng-model="model_time" class='template_select'>
       <option value="am" selected>AM Peak</option>
       <option value="pm">PM Peak</option>
      </select>
      <br><br>
      <a class="btn btn-info" ng-click="newTripTable(model_type)">Update Trip Table</a>
      <a class="btn btn-info" ng-click="newModel()" ng-disabled="active_run">Run Model</a>
      <br><br>
      
      <div ng-show="active_run">
       {{run_progress}} / {{run_max}}
       <progressbar value="run_progress" max="run_max"><span style="color:black; white-space:nowrap;"></span></progressbar>
      </div>
  </div>
  </tab>
  <tab heading="Trip Table">
    <a class="btn btn-info" ng-click="mapTripTable()">Show Trips on Map</a>
     <div class="info_container">
      <label class="info_label">Trips</label>
        <table class="table table-striped table-hover trip-display">
            <tr>
              <td>Id</td>
              <td >Time</td>
              <td colspan=2>From</td>
              <td colspan=2>To</td>
            </tr>
          <input type="text" ng-model="tt_search.from_geoid" placeholder="Search Origin FIPS" class="tt_search">
          <input type="text" ng-model="tt_search.to_geoid"  placeholder="Search Destination FIPS" class="tt_search">
            <tr ng-repeat="trip in trip_table | filter: tt_search | startFrom:tt_currentPage*tt_pageSize | limitTo:tt_pageSize">
              <td>{{trip.id}}</td>
              <td>{{trip.time}}</td>
              <td>{{trip.from_coords}}</td><td>{{trip.from_geoid.substr(5,6)}}</td>
              <td>{{trip.to_coords}}</td><td>{{trip.from_geoid.substr(5,6)}}</td>
            </tr>
        </table>
        <button ng-disabled="tt_currentPage == 0" ng-click="tt_currentPage=currentPage-1"><-</button>
          {{ tt_currentPage*tt_pageSize}} - {{ (tt_currentPage*tt_pageSize)+tt_pageSize }} of {{ tt_total }} <button class="btn-info rounded" ng-disabled="tt_currentPage >= tt_total/tt_pageSize - 1" ng-click="tt_currentPage=tt_currentPage+1"> -> </button>
    </div>
  </tab>
  <tab heading="Landmarks">
      <div class="info_container">
      Landmarks Interface
      </div>
  </tab>
</tabset>