<!DOCTYPE html>
<html>
  <head>
    <title>Admin | NJTDM</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="New Jersy Transit Demand Modeling">
    <meta name="author" content="Alex Muro - Albany Visualization and Informatics Lab  - http://avail.org">
    <meta charset="utf-8">
    <style type="text/css"></style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/application.min.css">
    <!--STYLES END-->
  </head>

  <body class="background-dark">


    <!--SCRIPTS-->
    <script src="/js/socket.io.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/jquery.pjax.js"></script>
    <script src="/js/jquery.icheck.js"></script>
    <script src="/js/jquery.sparkline.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/d3.v2.js"></script>
    <script src="/js/nv.d3.custom.js"></script>
    <script src="/js/scatter.js"></script>
    <script src="/js/axis.js"></script>
    <script src="/js/legend.js"></script>
    <script src="/js/multiBar.js"></script>
    <script src="/js/multiBarChart.js"></script>
    <script src="/js/line.js"></script>
    <script src="/js/lineChart.js"></script>
    <script src="/js/stream_layers.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/backbone.localStorage-min.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/collapse.js"></script>
    <script src="/js/alert.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/button.js"></script>
    <script src="/js/tab.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/index.js"></script>
    <!--SCRIPTS END-->
    
        <%- body %>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
  </body>
</html>
