<%- partial('../partials/nav') %>
    <div class="wrap">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title"> <%= marketarea.name %> Models <small>Analysis</small></h2>
		        </div>
		    </div>
		    <%- partial('pages/model-content') %>
		</div>
	<script src="/lib/select2.js"></script>
	<script src="/lib/colorbrewer.js"></script>
	<script src="/lib/crossfilter.min.js"></script>
	<script src="/lib/dc.js"></script>
	<script src="/avail/reportAnalyst.js"></script>
	<script src="/js/pages/ma-models.js"></script

