<%- partial('../partials/nav') %>
    <div class="wrap">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title">Add Market Area <small></small></h2>

		        </div>
		    </div>
		    <%- partial('pages/new-content') %>
		</div>

<style>
	.route {
		fill: none;
		stroke: #008;
		stroke-width: 2px;
	}
	.route:hover {
		stroke: #00f;
		stroke-width: 5px;
	}

	.market {
		fill: #080;
		fill-opacity: 0.5;
		stroke: #080;
		stroke-width: 1px;
	}
	.market:hover {
		fill: #0f0;
		stroke: #0f0;
	}
</style>

<script src="/lib/select2.js"></script>
<script src="/lib/jquery.bootstrap.wizard.js"></script>
<script src="/js/pages/ma-new.js"></script>

